@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

::selection {
  background: #ce1f99;
  color:white;
}

body {
  margin: 0;
  font-family: "Quicksand";

}


.App {
  min-height: 100vh;
}
.content {
  background-color: #f7f7f7;
  flex: 1;
}



/* .blog-list {

} */

.blog-preview {
  padding: 2rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}